@using Common.DTO.Entrance
@using Common.Enum
@model ManagersListDTO

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Имя менеджера</th>
            <th scope="col">Email менеджера</th>
            <th scope="col">Роль менеджера</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manager in Model.ManagerDTO)
        {
            <tr>
                <td class="card-text">
                    @if (ViewBag.Roles.Contains(Roles.ADMINISTRATOR))
                    {
                    <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="ManagerProfile" asp-route-managerId="@manager.Id">
                        @manager.FullName
                        </a>
                    }
                    else
                    {
                        @manager.FullName
                    }
                </td>
                <td class="card-text">@manager.Email</td>
                <td class="card-text">@manager.Role</td>
            </tr>
        }
    </tbody>
</table>

