@using Common.Enum
@using Common.DTO.Dictionary
@model AllImportHistoryDTO

@{
    ViewData["Title"] = "Импорт";
}

<div>
    <form id="importForm" asp-action="Import" asp-controller="Import" method="post">
        <select id="importTypeSelect" asp-for="@Model.Types" name="@Model.Types" id="@Model.Types">
            <option value="@ImportTypes.EducationLevel" id="@ImportTypes.EducationLevel" name="@ImportTypes.EducationLevel">Уровни образования</option>
            <option value="Program" id="Program" name="Program">Программы</option>
            <option value="Faculty" id="Faculty" name="Faculty">Факультеты</option>
            <option value="DocumentType" id="DocumentType" name="DocumentType">Типы документов</option>
        </select>
        <button type="button" onclick="importData()" class="btn btn-primary">Импортировать</button>
        </form>   
</div>

<div id="historyInfo">
    @await Html.PartialAsync("_ImportHistory", Model)
</div>

@section Scripts {
    <script>
        function importData() {

                    const importType = $("#importTypeSelect").val();
            const formData = `importType=${importType}`;

                $.ajax({
                    url: '/Import/Import',
                    type: 'POST',
                data: formData,
                    success: function (response) {
                        $('#historyInfo').html(response);
                    },
                    error: function () {
                        alert('Error loading content.');
                    }
                });
            }
    </script>
}
